<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Pedido Mesa {{ passedId }} </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

    <ion-grid>
  <ion-row>
    <ion-card *ngFor="let subgrupo of subgrupos" [routerLink]="['/', 'cardapio-produto', subgrupo.cd_subgrupo]">
      <ion-card-header>
        <ion-card-title> {{ subgrupo.ds_subgrupo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img>
      </ion-card-content>
    </ion-card>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="cart"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="list-box"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>