<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido Mesa {{ passedId }} </ion-title>

      <ion-buttons slot="end" (click)="openPedido()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge *ngIf="pedido.length > 0">{{ pedido.length }}</ion-badge>
      </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list *ngFor="let produto of produtos">
    <ion-item>
      <ion-label>
        <h3>{{ produto.ds_produto | uppercase  }}</h3>
        <p>{{ produto.pr_produto | currency:'BRL':'symbol'  }}</p>
      </ion-label>
      <!-- <ion-button slot="end" > - </ion-button> -->
      <ion-icon name="remove" (click)='removeToPedido(this.produto)' color="danger"></ion-icon>
      <span> {{ produto.count }} </span>
      <!-- <ion-button slot="end" (click)='addToPedido(this.produto)'> + </ion-button> -->
      <ion-icon name="add" (click)='addToPedido(produto)' color="success"></ion-icon>
    </ion-item>
  </ion-list>



  <!-- <ion-grid>
<ion-row>
  <ion-card *ngFor="let produto of produtos" >
    <ion-card-header >
      <ion-card-title>{{ produto.ds_produto }}</ion-card-title>
      <ion-card-subtitle>{{ produto.pr_produto | currency:'BRL':'symbol' }}</ion-card-subtitle>
      <ion-card-subtitle>{{ pedido.length }}</ion-card-subtitle>
    </ion-card-header>
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand='full' fill='clear' color='light' (click)='addToPedido()'>
          -  +
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
  <ion-col>
  </ion-col>
</ion-row>
</ion-grid> -->

</ion-content>