<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido Mesa {{ passedId }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
<ion-row>
  <ion-card *ngFor="let produto of produtos" >
    <ion-card-header color="medium">
      <ion-card-subtitle>{{ produto.ds_produto }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title class="add">
        <ion-icon name="remove-circle-outline"></ion-icon> 
        <span>{{ produto.cd_produto }}</span>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-card-title>

    </ion-card-content>
  </ion-card>
  <ion-col>
  </ion-col>
</ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="cart"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="list-box"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>