<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido Mesa {{ passedId }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let grupo of grupos" [routerLink]="['/', 'cardapio-subgrupo', grupo.cd_grupo]">
        <ion-card-header>
          <ion-card-title> {{ grupo.ds_grupo }}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="list-box"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>