
  ion-card{
    display: flex;
    flex-direction: column;
    // width: 20% !important;
    // height: 20% !important;
    // margin: 2% !important;
    @media (max-width: 450px) {
      width: 44vw !important;
      height: auto !important;
      margin: 2.2% !important;
    }
    @media (min-width: 451px) and (max-width: 699px) {
      width: 29.5vw !important;
      height: auto !important;
      margin: 1.5% !important;
    }
    @media (min-width: 700px) and (max-width: 991.98px) { 
      width: 22% !important;
      height: auto !important;
      margin: 1.5% !important;
    }
  }

  img{
    width: 100vw;
    height: 10vh;
  }

  ion-card-title {
    text-align: center;
    font-size: 100%;
  }

  ion-content {
    background-color:black
  }