ion-content.background{
    padding: 0%;
    --background: url(../../assets/img/background.jpg) 0 0/100% 100% no-repeat;
}

ion-item{
    --background: hidden;
    --border-color: hidden;
    --box-shadow: hidden
}