

  ion-card{
    display: flex;
    flex-direction: row;
    // width: 20% !important;
    // height: 20% !important;
    // margin: 2% !important;

      flex-direction: column;
      align-items: center;
      width: 22vw !important;
      height: 12vh !important;
      margin: 1vw !important;

  }

  .ion-card-content{
    font-size: 30px;
  }